name: Debuger
on:
  workflow_dispatch:

env:
  DAY_OF_WEEK: Monday
  TEMPLATECONF: ${{ vars.GITHUB_WORKSPACE }}openbmc/meta-facebook/meta-wedge/conf/templates/default

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: env
        run: env
        
      - name: apt
        run: sudo apt-get install gawk wget diffstat unzip texinfo gcc-multilib build-essential chrpath socat cpio python python3 python3-pip python3-pexpect xz-utils debianutils iputils-ping libsdl1.2-dev xterm

      - uses: actions/checkout@v4
        with:
          repository: 'facebook/openbmc'
          ref: helium 

      - name: ConfigGitUsername
        run:
          git config --global user.name "PyMario"

      - name: ConfigGitEmail
        run:
          git config --global user.email "2426525089@qq.com"
          
      - name: sync
        run: ./sync_yocto.sh

      - name: source
        run: source openbmc-init-build-env yosemite

      - name: debug_findbitbake
        run: whereis bitbake

      - name: bitbake
        run: ./yocto/lf-dunfell/poky/bitbake/bin/bitbake yosemite-image
